<div class="about-me content-box">
  <p>
    I write software at
    <a href="digitalservice.bund.de/" target="_blank"
      >DigitalService GmbH des Bundes</a
    >, working on better services for everyone. My current project is <a
      href="https://www.zugang-zum-recht-projekte.de/"
      target="_blank">Access To Justice</a
    >.
  </p>
  <p>
    I previously worked on hearing tests and real-time audio signal processing
    for the hard of hearing at <a href="https://mimi.io/" target="_blank"
      >Mimi Hearing Technologies</a
    >.
  </p>
  <p>
    Say hello via <a
      href="mailto:mail@chohner@@com"
      onmouseover="this.href=this.href.replace('@@','.')">mail[at]chohner.com</a
    >, <a href="https://github.com/chohner/" target="_blank">Github</a> or
    <a href="https://www.linkedin.com/in/chohner/" target="_blank">LinkedIn</a>.
  </p>
</div>

<style>
  .about-me {
    line-height: 1.6;
    margin: 1rem 0;
  }
</style>
